p{
    width: 40%;
}
@media only screen and (max-width: 768px){
    p{
        width: 60%;
    }
}
@media only screen and (max-width: 425px){
    p{
        width: 75%;
    }
}
@media only screen and (max-width: 320px){
    p{
        width: 90%;
    }
}

h1{
    width: 320px
}

img{
    width: 40%;
}
@media only screen and (max-width: 768px){
    img{
        width: 60%;
    }
}
@media only screen and (max-width: 425px){
    img{
        width: 75%;
    }
}
@media only screen and (max-width: 320px){
    img{
        width: 90%;
    }
}

